<template name="Search">
    <div class="ui container {{#if small}}tiny{{/if}}" id="searchContainer">
        <div class="introduction">
            <h1 class="ui inverted header">
                <span class="name" id="title">SCSE Code Directory</span>
                {{#unless small}}
                    <span class="tagline">Sharing is Caring</span>
                {{/unless}}
            </h1>
            <div class="ui right action fluid input">
                <select id="search" class="ui search selection dropdown fluid" value="{{mod}}">
                    <option value="">Modules</option>
                    {{#each modules}}
                    <option value="{{id}}">{{code}} {{name}}</option>
                    {{/each}}
                </select>
                <button class="ui inverted button" id="addRepo"><i class="plus icon"></i>Add</button>
            </div>
        </div>
    </div>
    <div class="ui modal" id="addModal">
        <div class="header">
            Add Github Repo
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field" id="modalSearch-field">
                    <label>Module name</label>
                    <select id="modalSearch" class="ui search selection dropdown fluid" value="{{mod}}">
                        <option value="">Modules</option>
                        {{#each modules}}
                        <option value="{{id}}">{{code}} {{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="field" id="github-field">
                    <label>Github repo</label>
                    <div class="ui right labeled input">
                        <input id="github" name="github" type="text" placeholder="https://github.com/user/repo">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            {{> SearchAdd}}
        </div>
    </div>
</template>
<template name="SearchAdd">
    <button class="ui button black" id="submitAddRepo">Add Github Repo</button>
</template>
